.body-grid {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

.body-right{
  flex-grow: 1;
}

.form {
  border: solid 1px #9d9d9d;
  border-radius: 0.2em;
  padding: 0.5em;
  background-color: #e5e5e5;
  margin: 0.2em;
}

button {
  font-family: monospace;
  cursor: pointer;
}

label {
  user-select: none;
}

h1 {
  margin: 0;
  font-size: 1.4em;
  text-align: center;
}